# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code extension outputs
extension/out/
extension/*.vsix

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# Misc
.env

